/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/config.*
/libtool
/ltmain.sh
/m4/
/stamp-h?
/COPYING
Makefile
Makefile.in
/src/asm71
/debian/asm71*
/debian/asm71/
/debian/stamp*
/debian/files
.deps/
.dirstamp
.libs/
*.l[ao]
*~
