Source: asm71
Section: misc
Priority: optional
Maintainer: Joachim Siebold <bug400@gmx.de>
Build-Depends: binutils, fpc, debhelper, cmake , build-essential, cdbs
Standards-Version: 0.9

Package: asm71
Architecture: any
Depends: ${misc:Depends}
Description: asm71
  Cross Assembler for the HP-71

